<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Assessment</title>
</head>
<body>
 <h1>"Wacky Widgets</h1>
 <h2>No Widgets Exits</h2>
 <hr>

 <h3>Add Widgets:</h3>
 Description:<input type="text"><br><br>
 Quantity: <input type="number"><br><br>
    {% if Widgets|length == 0 %}
        
    {% else %}
        
    {% endif %}
    <div class="card-action">
        <button>Add Widget</button>

      </div>

</body>
</html>