<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Assessment</title>

  
</head>
<body>
 <h1>"Wacky Widgets</h1>
    <table>
        <th>
        <td>Description</td>
        <td>Quantity</td>
        <td>Delete</td>
    </th>
    {% if widgets|length == 0 %}
    <p>No widgets on the list yet...</p>
{% else %}
    <tr>
        {% for widget in widgets %}
            <td>{{ widget.description }}</td>
            <td>{{ widget.quantity}}</td>
            <td><a href="{% url 'delete_widget' widget.id %}">Delete</a></td>
        {% endfor %}
    </tr>
{% endif %}
</table>
<hr>
<a href="{% url 'add_widget' %}">Add A widget</a>
    

    
</body>
</html>